<html>
    <head>
      {% if title %}
      <title>{{ title }} - Voting App</title>
      {% else %}
      <title>Welcome to Voting App</title>
      {% endif %}
    </head>
    <body>
        <div>Voting App :
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
	</div>
        {% block content %}{% endblock %}
    </body>
</html>
